<div class="container-fluid">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3><strong>{{merchdata.businessname}}</strong> Queue Status</h3>
			</div>
			<div class="panel-body">
				<p>There is currently <strong>{{count}}</strong> in the queue right now.</p>
				<p>If you were to queue in now, your average wait time would be <strong>{{waitTime}}</strong> minutes based on an average wait time of <strong>2</strong> minutes.</p>
			</div>
		</div>
	</div>
</div>